/* Especificidad = 001 */
html {
    height: 100%;
    box-sizing: border-box;
}

/* Especificidad = 001 */
body {
    position: relative;
    margin: 0;
    padding-bottom: 10em;
    min-height: 100%;
    font-family: Verdana, sans-serif;
    color: #000000;
    background:  rgb(136, 182, 219);
}

/* Especificidad = 001 */
main {
    margin: 0 auto;
    width: 100%;
}

/* Especificidad = 001 */
h1 {
    margin-top: 0;
    margin-bottom: 0;
    background-color:  rgb(29, 65, 185);
    color: #fff;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    font-size: 35px;
}

/*Especificidad = 001 */
section {
    margin: 5% auto 0;
    width: 50%;
    padding: 2.5%;
    background: black;
    border-radius: 15px;
    box-sizing: inherit;
}
/*Especificidad = 012 */
section input[type=button] {
    width: 24%;
}

/* Especificidad = 012 */
section input[type=text] {
    width: 100%;
    background-color: white;
    font-size: 30px;
}
/* Especificidad = 100 */
.numero {
    color: white;
    background-color:#1a9b1a;
}

/* Especificidad = 100 */
.memoria {
    background-color: #364D62;
    color: white;
}